body{
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  margin: auto;
}

h1{
  text-transform: capitalize;
  color: #FFA200;
}

#container{
  text-align:center;
  background-color: white;
  padding: 1%;
  width: 50%;
  border-radius: 50px;
}

header{
  margin-top: 3%;
}

input[type=text] {
  width: 30%;
  height: auto;
  font-size: 1.1rem;
  font-family : inherit;
  margin: 2%;
}

#buttoncolour {
  cursor: pointer;
  width: 30%;
  height: auto;
  font-size: 1rem;
  font-family: inherit;
  margin-bottom: 2%;

}

#resultr{
  color: red;
}

#resultg{
  color: green;
}

#resultb{
  color: blue;
}

hr{
  width: 70%;
  margin-bottom: 5%;
}

footer{
  padding-top: 1.5rem;
  font-size: 0.7rem;
  line-height: 0.2rem;
}

.fab{
  color: #FFA200;
  margin: 0 .5%;
}
